NODE_ENV=development

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres
BETTER_AUTH_URL=http://localhost:8000
BETTER_AUTH_SECRET=

FRONTEND_URL=http://localhost:3000
NEXT_PUBLIC_BACKEND_URL=http://localhost:8000

PORT=8000
NEXT_PUBLIC_APP_URL=${FRONTEND_URL}

UPLOAD_DIR=./storage
CORS_ORIGINS= # Full url

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM=noreply@kreatur.sekeco.work
